 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class = "jumbotron">
   <div class ="container">

      <h1>All Menu</h1>
   </div>
</div>



<ul>
<table class = "table table-white table-hover">
   <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Text</th>
   </tr>

   <% @posts.each do |post|  %>

   <tr>
      <td><%=post.id%></td>
      <td><%= link_to post.title, post_path(post) %> </td>
      <td><%=post.text%></td>
   </tr>
   
   

   <% end %>
   </table>

</ul>

</table>


<%= link_to "Add post", new_post_path %><br>
<%= link_to "Go to youtube Page", youtube_path %>

