<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class = "jumbotron">
   <div class ="container">

      <h1>Adding Post</h1>
   </div>
</div>

<%= form_for(@post) do|f| %>
<form class="form-row">
    <div class="col-md-6 mb-3">
        <%= f.label :title %>
        <%= f.text_field :title,class: 'form-control',size:"360px" %>
    </div>
    <div class="col-md-6 mb-3">
        <%= f.label :text %>
        <%= f.text_area :text, class: 'form-control',size:"360px"%>
    </div>

    <div class="greenbuttton">
        <%= f.button "Add" ,class:"btn btn-primary active"%>
        
    </div>
</form>



<% end %>


<footer>
  <p>Made By: Kaushik Ghosh<br>
  <a href="mailto:kaushikghosh199832@gmail.com">kaushikghosh199832@gmail.com</a></p>
</footer>

